@font-face {
    font-family: 'Alegreya_Sans_SC';
    src: url(fonts/AlegreyaSansSC-Regular.ttf); 
}

@font-face {
    font-family: 'Alata';
    src: url(fonts/Alata-Regular.ttf); 
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: rgb(95,28,120);
    background: linear-gradient(180deg, rgba(95,28,120,1) 0%, rgba(121,36,153,1) 100%);
}

.container-grid{
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

.banner{
    height: 100vh;
    background-size: cover;

    background-image: linear-gradient(180deg, rgba(121,36,153,1) 0%, rgba(202,60,255,0.45) 100%), url(gif/banner1.gif);
    background-position: center;
    background-repeat: no-repeat;
}

header{
    height: 165px;
}

header div.container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoo{
    margin-top: 50px;
}

header img {
    width: 180px;
}


header button{
    display: none;
}

.menu {
    width: 700px;

    display: flex;
    justify-content: space-between;
    
}

.menu a {
    color: white;

    font-family: 'Alegreya_Sans_SC';
    font-size: 20px;
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: white;
}

.conteudo-banner {
    height: calc(100vh - 280px);
    display: flex;
    align-items: center;
}

.conteudo-banner p {
    color: white;

    font-family: 'Alata';
    font-size: 32px;
    text-align: center;
    
}

.conteudo-banner button{
    width: 20%;
    height: 20%;
    margin-top: 30px;
    
    cursor: pointer;
    background-color: rgba(251, 251, 251, 0);
    color: white;
    font-size: 22px;
    font-family: "Alata";
    border-radius: 20px;
     border: 2px solid white;
}

.conteudo{
    height: 300px;
    width: 100%;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

#sobre {
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 100px 25%;
    color: white;
    font-size: 25px;
    text-align: center;
}

h2{
    font-family: "Alegreya_Sans_SC";
    font-size: 30px;
    font-weight: 10;
}

#sobre p{
    font-family: "Alata";
    text-align: left;

}

#fundo{
    height: 800px;
}

.card {

    width: 100%;
    background-color:#662081;
    height: 600px;
    border-radius: 10px; 
    margin-top: 20px;
    /* border: solid;
    border-color: #56196e;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5); */
    /* border: 6px solid #56196e;
    /* background-image: url(./img/Group\ 3.png); */
    

}   
.caixa{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 12px -1px rgba(0,0,0,0.75);

 
}

#fundo h2{
    text-align: center;
    color: white;
}

.cases a{
    color: white;

    font-family: 'Alegreya_Sans_SC';
    font-size: 20px;
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;
}


#definicao h2{
    color: white;
    font-size: 40px;
}

#definicao p{
    color: white;
    font-family: "Alata";
    text-align: left;
    font-size: 25px;
    margin-top: 50px;
    

}



#definicao{
    height: 600px;
    width: 65%;
    text-align: center;
    padding: 100px 15%;
    border: 3px solid white;
    border-radius: 66px;
}


#portfolio {
    margin-top: 200px;
    height: 600px;
       background-image: linear-gradient(-90deg, rgba(202,60,255,0.47) 0%, rgba(121,36,153,1) 66%, rgba(121,36,153,1) 100%), 
       url(gif/banner2.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    font-family: "Alata";
    
}


#portfolio .container-grid h2{
    font-family: "Alata";
    color: white;
    

}

#portfolio button{
    width: 21%;
    height: 60px;
    margin-top: 30px;
    margin-left: 50px;
    
    cursor: pointer;
    background-color: rgba(251, 251, 251, 0);
    color: white;
    font-size: 22px;
    font-family: "Alata";
    border-radius: 20px;
     border: 2px solid white;
}

#contato{
    height: 1000px;
}

#contato p{
    color: white;
    font-family: "Alegreya_Sans_SC";
    font-size: 30px;
    align-items: center;
    margin-bottom: 20px;
}

#contato form {
    height: 600px;
    width: 50%;
    margin: 0 auto;
    padding: 60px 0;
    margin-top: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(67, 43, 76, 0.115);
    border: 3px solid white;
    border-radius: 40px;

    
}

#contato form label {
    color: white;
    font-family: "Alegreya_Sans_SC";
   
}

.campo input {
    border: none; 
           
    background-color: rgba(67, 43, 76, 0);
}

.campo{
    border-bottom: 1px solid white;
    width: 65%;
}

.campo #campo-email{
    margin-top: 30px;
}